<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block title %}<title>Get It Done!</title>{% endblock %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <section class="hero is-medium is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 is-success">
        Get It Done!
      </h1>
      <h2 class="subtitle">
        'Cuz life is too short to waste away on memes.
      </h2>
    </div>
  </div>
  </section>
  <section class="container is-fluid main-content columns is-fullheight">
  <div class="container column is-10">
    <div class="section">
  {% block content %}{% endblock %}
    </div>
  </div>
</section>
</body>
</html>
