<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block title %}<title>Get It Done!</title>{% endblock %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <section class="hero is-medium is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 is-success">
        Get It Done!
      </h1>
      <!-- <h2 class="subtitle">
        Primary bold subtitle
      </h2> -->
    </div>
  </div>
  </section>
  <section class="container is-fluid main-content columns is-fullheight">
  {% block sidebar %}
  <aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">
    <p class="menu-label is-hidden-touch">Navigation</p>
    <ul class="menu-list">
      <li>
        <a href="{% url 'index' %}" class="">
          <span class="icon"><i class="fas fa-tasks"></i></span> Tasks
        </a>
      </li>
      <li>
        <a href="{% url 'category' %}">
          <span class="icon"><i class="fas fa-hashtag"></i></span> Category
        </a>

        <ul>
          <li>
            <a href="#">
              <span class="icon is-small"><i class="fa fa-link"></i></span> Link1
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon is-small"><i class="fa fa-link"></i></span> Link2
            </a>
          </li>
        </ul>
      </li>
      <!-- <li>
        <a href="#" class="">
          <span class="icon"><i class="fa fa-info"></i></span> About
        </a>
      </li> -->
    </ul>
  </aside>

  {% endblock %}
  <div class="container column is-10">
    <div class="section">
  {% block content %}{% endblock %}
    </div>
  </div>
</section>
</body>
</html>
