{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <form class="" action="" method="post">
      {% csrf_token %}
      <div class="field">
        <div class="control">
          <input type="text" class='input' name="category" value="{% if form.category.value %}{{ form.category.value }}{% endif %}" id="id_category">
        </div>
        <p class="help">{{ form.category.help_text }}</p>
      </div>
        <div class="control">
          <button class="button is-primary">Add Category</button>
        </div>
    </form>
  </div>
{% endblock %}
