{% extends 'base.html' %}

{% block content %}
{% include 'tasks/hashtag_form.html' %}
{% if hashtag_list %}
  {% for hashtag in hashtag_list %}
  <div class="container">
  <article class="message is-success">
    <a href="{{ hashtag.get_absolute_url }}">
    <div class="message-body">
      <strong class="is-capitalized">#{{hashtag.category}}</strong>
        <div class="field is-grouped is-grouped-right">
          <p class="control">
            <a href="{% url 'delete-category' hashtag.pk %}" class="button is-primary">
              Delete {{ hashtag.category }}
            </a>
          </p>
          <!-- <p class="control">
            <a class="button is-light">
              Cancel
            </a>
          </p> -->
        </div>
    </div>
    </a>
  </article>
  </div>
  {% endfor %}
{% else%}
  <p>Lets add a category!</p>
{% endif %}
{% endblock %}
