{% block content %}
  <div class="container">
    <form class="" action="{% url 'create-category' %}" method="post">
      {% csrf_token %}
      <div class="field">
        <div class="control">
          <input type="text" class='input' name="category" value="" placeholder="Bazinga!" id="id_category">
        </div>
        <p class="help">{{ field.help_text }}</p>
      </div>
        <div class="control">
          <button class="button is-primary">Add Category</button>
        </div>
    </form>
  </div>
{% endblock %}
